---
import FormattedDate from '@components/FormattedDate.astro';
import { Icon } from 'astro-icon';

export interface Props {
  href: string;
  title: string;
  pubDate: Date;
  description: string;
}

const { href, title, pubDate, description } = Astro.props;
---

<a {href}>
  <li class='flex flex-col gap-2'>
    <h1 class='link text-xl font-bold'>{title}</h1>
    <div>
      <span class='flex items-center gap-1'>
        <Icon pack='lucide' name='clock' size='24' />
        <FormattedDate date={pubDate} />
      </span>
      <p>{description}</p>
    </div>
  </li>
</a>
