---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@components/Layout.astro";
import FormattedDate from "@components/FormattedDate.svelte";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { title, pubDate } = Astro.props.post.data;
const { Content } = await Astro.props.post.render();
---

<Layout {title}>
  <div class="pb-4 mb-4 border-b border-neutral-700">
    <h1>{title}</h1>
    <span class="inline-flex gap-2 items-center">
      <FormattedDate date={pubDate} /> |
      <a href="/feed.xml" class="link">RSS Feed</a>
    </span>
  </div>
  <article class="[&_img]:mx-auto [&_a]:link">
    <Content />
  </article>
</Layout>
