---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@components/Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"posts">;
}

const { title, date } = Astro.props.post.data;
const { Content } = await Astro.props.post.render();
---

<Layout {title}>
  <div>
    <h1>{title}</h1>
    <span>
      <FormattedDate {date} /> |
      <a href="/posts/feed.xml">RSS Feed</a>
    </span>
  </div>
  <article>
    <Content />
  </article>
</Layout>
