---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { Icon } from "astro-icon";

export const getStaticPaths = async () => {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
};

const post = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="mb-8 border-b border-neutral-700 pb-4 md:hidden">
    <h1>{post.data.title}</h1>
    <span class="text-medium flex items-center gap-2">
      <Icon name="clarity:date-line" size="24" />
      <FormattedDate date={post.data.pubDate} />
    </span>
  </div>
  <article class="[&_img]:mx-auto [&_a]:link">
    <Content />
  </article>
</Layout>
