---
import { getCollection } from "astro:content";
import Posts from "@components/Posts.svelte";
import Layout from "@components/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="posts">
  <p>
    Collection of longer form writing on various topics. Aims to be a more
    polished version of my <a href="/notes">published notes.</a>
  </p>
  <Posts {posts} />
</Layout>
