---
import { getCollection } from "astro:content";
import Posts from "@components/Posts.svelte";
import Layout from "@components/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="posts">
  <p>Collection of notes and posts that I occasionally write.</p>
  <Posts {posts} />
</Layout>
