---
import Layout from "@components/Layout.astro";
import Section from "@components/page/Section.svelte";
import Posts from "@components/Posts.astro";

const title = "Posts";
---

<Layout {title}>
  <Section {title}>
    <Posts />
  </Section>
</Layout>
