---
import { getCollection } from "astro:content";
import Posts from "@components/Posts.astro";
import Layout from "@components/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="posts">
  <h2>Posts</h2>
  <p>Writings and musings</p>
  <Posts {posts} />
</Layout>
