---
import Layout from "@components/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="404">
  <section class="flex flex-col items-center gap-6">
    <Icon name="pixelarticons:downasaur" size={72} />
    <h1>Error 404!</h1>
  </section>
</Layout>
