---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="404">
  <section class="flex flex-col gap-6 items-center">
    <Icon name="lucide:frown" size={72} />
    <h1>Error 404!</h1>
  </section>
</Layout>
