---
import Layout from "@components/Layout.astro";
import Section from "@components/page/Section.svelte";
import FormattedDate from "@components/FormattedDate.astro";

const title = "About";
---

<Layout {title}>
  <Section {title}>
    <h2>Info</h2>
    <p>
      I'm a Computer Engineering student in Toronto, passionate about
      electronics and their applications. For any communication, use: mail [AT]
      kleidi [dot] ca
    </p>

    <span>Some of my interests (currently):</span>
    <ul>
      <li>Rust; compilers in general</li>
      <li>Graphics programming and generative art</li>
      <li>Signal processing related to images/audio</li>
    </ul>

    <h2>Disclaimer</h2>
    <p>
      Any opinons here are my own and do not reflect those of my employer or
      school. Feel free to use anything on this site for reference, but please
      give credit when appropriate.
      <br /><br />

       This site was generated on [<FormattedDate date={new Date()} />] using
      Astro and is
      <a
        href="https://github.com/kbujari/kleidi.ca"
        target="_blank"
        rel="noreferrer"
        title="Source"
        class="link">open-source</a
      >.
    </p>
  </Section>
</Layout>
