---
import Layout from '@layouts/Layout.astro';
import Title from '@components/Title.astro';

const year = new Date().getFullYear();
---

<Layout title='About'>
  <Title text='Info' />
  <p>
    I'm a Computer Engineering student in Toronto, CA interested in online
    privacy, cryptography, and RF communications. The majority of my free time
    is spent hacking on personal projects mainly involving networks and Rust,
    otherwise I'll be working out or playing basketball.
  </p>

  <Title text='Contact' />
  <p>The best way to reach me is by email: mail at kleidi dot ca</p>

  <Title text='Disclaimer' />
  <p>
    Any opinons here are my own and do not reflect those of my employer or
    school. Feel free to use anything on this site for reference, but please
    give credit when appropriate. &copy; {year} All rights reserved.
    <br /><br />

    This site is built using AstroJS and is
    <a
      href='https://github.com/kbzt/kleidi.ca'
      target='_blank'
      rel='noreferrer'
      title='Source'
      class='link'>open-source</a
    >.
  </p>
</Layout>
