---
import Layout from "@layouts/Layout.astro";
import Posts from "@components/Posts.astro";
import { Icon } from "astro-icon";
---

<Layout title="Home">
  <section>
    <h1 class="flex items-center gap-2">
      Welcome! <Icon name="charm:rocket" size={32} />
    </h1>
    <p>This is my minimal blog, portfolio and website for personal use.</p>
  </section>
  <section>
    <h2>Recent Posts</h2>
    <Posts take={3} />
  </section>
</Layout>
