---
import Layout from "@components/Layout.astro";
import Posts from "@components/Posts.astro";
import { Content } from "src/content/extra/about.md";
---

<Layout>
  <Content />
  <section>
    <h2>Recent Posts</h2>
    <Posts take={3} />
  </section>
</Layout>
