---
import Layout from "@components/Layout.astro";
import Posts from "@components/Posts.svelte";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <p>This is my small website written from scratch. More features coming!</p>

  <Posts {posts} />
</Layout>
