---
import Layout from "@components/Layout.astro";
import Posts from "@components/Posts.svelte";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const take = 3;
---

<Layout>
  <h2><i>welcome!</i></h2>
  <p>This is my small website written from scratch. More features coming!</p>
  <section>
    <h2>Recent Posts</h2>
    <Posts {posts} {take} />
  </section>
</Layout>
