---
import Layout from "@components/Layout.astro";
import Posts from "@components/Posts.astro";
import { getCollection, getEntry } from "astro:content";

const posts = await getCollection("posts");
const about = await getEntry("extra", "about");
const { Content } = await about.render();
---

<Layout>
  <Content />
  <section>
    <h2>Recent Posts</h2>
    <Posts {posts} take={3} />
  </section>
</Layout>
