---
import CommonHead from "@layouts/CommonHead.astro";

const content = `0;url=${Astro.url.origin}/about`;
---

<head>
  <CommonHead />
  <noscript>
    <meta http-equiv="refresh" {content} />
  </noscript>
</head>

<body class="bg-bg">
    <canvas id="canvas" class="bg-bg fixed z-0" />
    <div class="fixed h-full w-full z-10 font-mono text-center pt-12">
      <a href="/about" class="link p-2">Enter -></a>
    </div>
</body>

<script is:inline src="/src/assets/scripts/art.js" />
<!-- <script src="/src/assets/scripts/hero" /> -->
