---
import Layout from '@layouts/Layout.astro';
import Post from '@components/posts/Post.astro';
import Title from '@components/Title.astro';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3);
---

<Layout title='Home'>
  <section class="border-b border-neutral-700">
    <h1 class="font-title text-3xl text-zinc-300 mb-6 flex items-center gap-2">
      Kleidi Bujari
      <a href="/rss.xml" target="_blank">
        <Icon pack="lucide" name="rss" size="24"/>
      </a>
    </h1>
    <p>Minimal blog, portfolio and personal website for personal use.</p>
  </section>
  <Title text="Recent Posts"/>
  <section>
    <ul class='flex flex-col gap-6'>
      {
      posts.map((post) => (
        <Post
          href={`/posts/${post.slug}`}
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
        />
      ))
      }
    </ul>
  </section>
</Layout>
