---
import Layout from "@components/Layout.astro";
import Resources from "./_Resources.svelte";
import { getCollection } from "astro:content";

const data = await getCollection("resources");
---

<Layout title="links">
  <p>
    A collection of resources I found interesting or helpful enough to keep.
  </p>
  <Resources {data} />
</Layout>
