---
const list = Astro.url.pathname.replace(/\/+$/, "").split("/").slice(1);
---

<nav class=" mt-4 line-clamp-1" aria-label="breadcrumb">
  <menu class="flex items-center gap-1">
    <span aria-hidden="true">/</span>
    {
      list.map((breadcrumb, index) =>
        index + 1 === list.length ? (
          <li>
            <span class="line-clamp-1" aria-current="page">
              {breadcrumb}
            </span>
          </li>
        ) : (
          <>
            <li>
              <a href={`/${breadcrumb}`}>
                {breadcrumb}
              </a>
            </li>
            <span aria-hidden="true">/</span>
          </>
        )
      )
    }
  </menu>
</nav>
