---
import { Icon } from 'astro-icon';
import { LINKS } from '@consts';
---

<footer
  class='mb-12 flex items-center justify-between border-t border-neutral-700 pt-8'
>
  <div class='flex items-center gap-2'>
    <a href='/rss.xml' class='link'><p>rss</p></a>
    <p>/</p>
    <a href='/sitemap-0.xml' class='link'><p>sitemap</p></a>
    <p>/</p>
    <a href='/resume.pdf' class='link'><p>resume</p></a>
  </div>

  <p class='flex gap-2'>
    {
      LINKS.map((link) => (
        <a
          href={link.href}
          target='_blank'
          rel='noreferrer'
          title={link.title}
          class='link'
        >
          <Icon pack='lucide' name={link.icon} size='24' />
        </a>
      ))
    }
  </p>
</footer>
