---
import { Icon } from "astro-icon";
import { LINKS } from "@consts";

const year = new Date().getFullYear();
---

<footer class="mb-12 border-t border-neutral-700 pt-8">
  <div class="contain flex justify-between items-center">
    <ul class="basis-1/4 hidden md:block">
      <li>
        <a href="/rss.xml" class="route">rss</a>
      </li>
      <li>
        <a href="/sitemap-0.xml" class="route">sitemap</a>
      </li>
    </ul>

    <div class="text-center md:basis-2/4">
      <span>&copy; {year} Kleidi Bujari</span>
    </div>

    <div class="md:basis-1/4 flex gap-2 justify-end">
      {LINKS.map((link) => (
      <a
      href={link.href}
      target="_blank"
      rel="noreferrer noopener"
      title={link.title}
      class="route"
      >
      <Icon pack="lucide" name={link.icon} size="24" />
      </a>
      ))}
    </div>
  </div>
</footer>
