---
import IconLinks from "@components/IconLinks.astro";
const year = new Date().getFullYear();
---

<footer class="mb-12 border-t border-neutral-700 pt-8">
  <div class="contain flex justify-between items-center">
    <div class="basis-1/4 hidden md:block">
      <IconLinks />
    </div>

    <div class="text-center md:basis-2/4">
      <span>&copy; {year} Kleidi Bujari</span>
    </div>

    <div class="text-end md:basis-1/4">
      <a href="#" >Back to top</a>
    </div>
  </div>
</footer>
