---
---

<header
  class='mb-6 flex h-16 items-center justify-between border-b border-neutral-700 px-0 text-lg'
>
  <a href='/' class='link'>kleidi.ca</a>
  <nav>
    <ul class='flex gap-4'>
      <li>
        <a href='/posts' class='link'>Posts</a>
      </li>
      <li>
        <a href='/about' class='link'>About</a>
      </li>
    </ul>
  </nav>
</header>
