<header class="flex h-16 border-b border-neutral-700 text-lg">
  <nav class="flex w-full justify-between self-center">
    <a href="/" class="link">kleidi.ca</a>
    <menu class="flex gap-4">
      <li>
        <a href="/posts" class="link">Posts</a>
      </li>
      <li>
        <a href="/about" class="link">About</a>
      </li>
    </menu>
  </nav>
</header>
