---
import Icon from "astro-icon";
import { LINKS } from "@consts";
---

<span class="inline-flex gap-2">
  {LINKS.map(({ href, title, icon }) => <a {href} {title}><Icon name={icon} size="32" /></a>)}
</span>
