---
import Nav from "@components/Nav.svelte";
import { SITE } from "@consts";

interface LayoutProps {
  title?: string;
  author?: string;
  description?: string;
}

interface Props extends LayoutProps {
  children: any; // Force something to be passed to slot
  frontmatter?: LayoutProps; // Typed markdown frontmatter
}

const {
  title,
  author = SITE.author,
  description = SITE.description,
} = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta property="locale" content="en_US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title ? `${title} :: web.4kb.net` : "web.4kb.net"}</title>
    <meta name="author" content={author} />
    <meta name="description" content={description} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- <link rel="stylesheet" href="/global.css" /> -->
  </head>

  <body>
    <Nav />
    <main class:list={[Astro.props.frontmatter ? "[&_a]:link" : "", "mt-6"]}>
      <slot />
    </main>
    <footer>
      <hr />
      <span>&#x00a9; {new Date().getFullYear()} Kleidi Bujari</span>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --bg: #181616;
    --fg: #c5c9c5;
    --link: #76946a;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: serif;
    padding: 0 0.75em;
    max-width: 48em;
    margin: auto;
    background: var(--bg);
    color: var(--fg);
  }

  footer {
    margin: 3em auto;
    text-align: center;
  }

  a,
  a:link {
    color: var(--link);
  }

  nav {
    text-align: center;
  }

  nav > a {
    padding: 0 0.5em;
  }

  nav > h1 {
    line-height: 0;
  }

  p {
    line-height: 1.4em;
  }

  a[href^="https"]:where(:not([href*="web.4kb.net/"]))::after {
    content: " \2934";
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
