---
import Header from "@components/page/Header.svelte";
import Nav from "@components/page/Nav.svelte";
import Footer from "@components/page/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE } from "@consts";
import stars from "@assets/stars.png"

export interface Props {
  title?: string;
  author?: string;
  description?: string;
}

const {
  title,
  author = SITE.author,
  description = SITE.description,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta property="locale" content="en_US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content={author} />
    <meta name="description" content={description} />

    <link
      rel="preload"
      as="font"
      href="/FreePixel.woff"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="image"
      href="/stars.png"
      type="image/png"
      crossorigin="anonymous"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title ? `${title} | kleidi.ca` : "kleidi.ca"}</title>

    <ViewTransitions />
  </head>

  <body
    class="bg-black text-stone-400 text-fg font-pixel text-lg/snug max-w-7xl mx-auto px-4 bg-repeat bg-fixed"
    style={`background-image: url(${stars.src});`}
  >
    <!-- <Header /> -->
    <div class="flex flex-col-reverse md:flex-row md:items-start mt-4 gap-4">
      <main class="overflow-hidden">
        <slot />
      </main>
      <Nav />
    </div>
  </body><style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
      @font-face {
        font-family: "FreePixel";
        src: url("/FreePixel.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }

      pre {
        @apply mb-8 p-4 text-sm font-pixel overflow-hidden;
      }

      h1 {
        @apply mb-6 text-4xl/none text-neutral-300;
      }
      h2 {
        @apply mb-6 text-3xl/none text-neutral-300 font-medium;
      }

      ol {
        @apply list-inside list-decimal mb-8;
      }
      ul {
        @apply list-inside list-disc mb-8;
      }

      p {
        @apply mb-8 last:mb-0;
      }

      .link {
        @apply underline text-red-400 hover:text-red-500 underline-offset-2;
      }

      .route {
        @apply font-semibold hover:underline
    decoration-2 underline-offset-4 decoration-dashed
    text-neutral-300;
      }
    }
  </style>
</html>
