---
const links = [
  { name: "Home", href: "/" },
  { name: "Posts", href: "/posts" },
  { name: "Resources", href: "/resources" },
];
---

<nav>
  <h2>Kleidi Bujari</h2>
  <div class="links">
    {links.map(({ name, href }) => <a {href}>{name}</a>)}
  </div>
</nav>
<hr />
