---
import FormattedDate from "@components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">[];
  take?: number;
}

const devmode = import.meta.env.DEV;
const { posts, take = posts.length } = Astro.props;
---

{
  posts
    .filter(({ data }) => devmode || !data.title.startsWith("[draft]"))
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .slice(0, take)
    .map(({ slug, data }) => (
      <div style="margin: 1em auto;">
        <a href={`/posts/${slug}`}>{data.title}</a>
        <br />
        <FormattedDate date={data.date} />
      </div>
    ))
}

{take < posts.length && <a href="/posts">More &#x21E2</a>}
