---

export interface Props {
  text: string;
}

const { text } = Astro.props
---

<div class="w-20 overflow-y-auto overflow-x-hidden border-r min-h-screen border-neutral-700 select-none hidden md:block" style="writing-mode: vertical-rl;">
  <span class="mt-24 text-4xl font-mono left-5 absolute">
    {text}
  </span>
</div>
