---
export interface Props {
  text: string;
};

const { text } = Astro.props;
---

<h2 class="font-title">{text}</h2>

<style>
h2 {
  font-size: 1.6666667em;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}
</style>
