@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira-Sans';
  src: url(/font/FiraSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira-Code';
  src: url(/font/FiraCode-Regular.woff2) format('woff2');
}

body {
  @apply bg-black text-slate-100;
  font-family: 'Fira Sans', sans-serif;
}

@layer utilities {
  .link {
    @apply text-slate-300 hover:text-white font-bold underline decoration-2 underline-offset-4 transition;
  }

  .post-data p {
    @apply mb-6;
  }

  .post-data a {
    @apply link;
  }

  .post-data ol {
    @apply list-decimal pl-5;
  }

  .post-data p > img {
    @apply inset-0;
  }

  .blurify {
    @apply transition blur-sm cursor-default duration-300;
  }

  .container {
    @apply leading-normal text-base md:text-lg;
  }
}
