---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

import "@assets/css/global.css";

export interface Props {
  title: string;
  author?: string;
  description?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta property="locale" content="en_US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{`${title} | KB`}</title>
    <meta name="author" content={author} />
    <meta name="description" content={description} />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div class="container">
      <Header />
      <main class="mt-8">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
