@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ibm-plex-sans';
    font-style: normal;
    font-weight: 400;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/ibm-plex-sans-regular.woff2') format('woff2');
    src: url('/fonts/ibm-plex-sans-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'ibm-plex-mono';
    font-style: normal;
    font-weight: 400;
    font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
    src: url('/fonts/ibmplexmono-medium.woff2') format('woff2');
  }

  .link {
    @apply font-title font-bold
    text-zinc-300 decoration-dashed decoration-2
    underline-offset-4 transition hover:underline;
  }

  p {
    margin-bottom: 1.3333333em;
    font-size: 1.125rem;
    line-height: 1.7777778;
  }
}
