---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CommonHead from "@layouts/CommonHead.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string
}

const {
  title
} = Astro.props;
---

<head>
  <CommonHead />
  <title>{`${title} // KB`}</title>
  <ViewTransitions />
</head>

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <body class="bg-bg font-mono text-base/relaxed text-fg font-medium">
    <div class="container">
      <Header transition:persist/>
      <main class="mt-8" transition:animate="fade">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
